<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= @decor.id %>
</p>

<%= link_to 'Edit', edit_decor_path(@decor) %> |
<%= link_to 'Back', decors_path %>
