<p></p>

<div class="jumbotron">
  <h1>New Address<h1>
</div>

<%= render 'form', address: @address %>

<% if params[:client] == "1" %>
  <%= link_to 'Back', new_client_path %>
<% elsif params[:venue] == "1" %>
  <%= link_to 'Back', new_venue_path %>
<% else %>
  <%= link_to 'Back', addresses_path %>
<% end %>
