<% if notice %>
  <p class="alert alert-info mt-2"><%= notice %></p>
<% else %>
  <p></p>
<% end %>

<p>
  <strong>Id:</strong>
  <%= @ent.id %>
</p>



<%= link_to 'Edit', edit_ent_path(@ent) %> |
<%= link_to 'Back', ents_path %>
