<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">PerfectParty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/event_items">Event Items</a>
                        <a class="dropdown-item" href="/events">Events</a>
                        <a class="dropdown-item" href="/decor_items">Decor Items</a>
                        <a class="dropdown-item" href="/decors">Decors</a>
                        <a class="dropdown-item" href="/ent_items">Entertainment Items</a>
                        <a class="dropdown-item" href="/ents">Entertainments</a>
                        <a class="dropdown-item" href="/menu_items">Menu Items</a>
                        <a class="dropdown-item" href="/menus">Menus</a>
                        <a class="dropdown-item" href="/supplier_items">Supplier Items</a>
                        <a class="dropdown-item" href="/ratings">Ratings</a>
                        <a class="dropdown-item" href="/suppliers">Suppliers</a>
                        <a class="dropdown-item" href="/items">Items</a>
                        <a class="dropdown-item" href="/venue_addresses">Venue Addresses</a>
                        <a class="dropdown-item" href="/client_addresses">Client Addresses</a>
                        <a class="dropdown-item" href="/addresses">Addresses</a>
                        <a class="dropdown-item" href="/venues">Venues</a>
                        <a class="dropdown-item" href="/clients">Clients</a>
                </div>

            </li>
        </ul>
    </div>
</nav>